<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILdapConnectionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22966/LdapConnectionService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILdapConnectionService"
          contract="LdapServiceReference.ILdapConnectionService" name="BasicHttpBinding_ILdapConnectionService" />
    </client>
  </system.serviceModel>
</configuration>